* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: rgba(255, 255, 255, 0.615);
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


footer {
    width: 100%;
    margin-top: auto;
    background-color: #111;
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}

.footer-container h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-container li {
    margin-bottom: 10px;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-container a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    font-size: 24px;
}

.footer-end {
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    gap: 40px;
    font-size: 16px;
}

.footer-links {
    display: flex;
    gap: 40px;
    margin-right: auto;

}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;


}

.footer-copy {
    font-size: 17px;
}